:root {
  --brand-color: #212121;
  --secondary-color: #757575;
  --brand-bg-color: #2f303a;
  --secondary-bg-color: #ffffff;
  --accent-color: #2196f3;
  --footer-contact-item: rgba(255, 255, 255, 0.6);
  --bg-color-btn-filter: #f5f4fa;
  --bg-color-icon-box: #f5f4fa;
  --color-logo: #000000;
  --btn-service-hover: #188ce8;
  --border-cads: 1px solid #eeeeee;
  --icon: #afb1b8;

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------common---------- */

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  background-color: var(--secondary-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* ----------service---------- */

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ----------header---------- */

.page-header {
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid #ececec;
}

.nav-container {
  display: flex;
  height: 80px;
}

.nav-container .item {
  margin-right: 50px;
}

.nav-container .item:last-child {
  margin-right: 0px;
}

.nav,
.nav-link,
.contact {
  display: flex;
  padding: 0;
  align-items: center;
}

.contact {
  margin-left: auto;
}

.logo {
  display: block;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-logo);
}

.logo > span {
  color: var(--accent-color);
}

.nav-link-item,
.contact-item {
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contact-item {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
}

.contact-item .icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}

.contact-item:hover .icon,
.contact-item:focus .icon {
  fill: currentColor;
}

/* ----------hero---------- */

.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  width: 696px;
  margin: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-bg-color);
}

.btn-servise {
  min-width: 216px;
  margin: 30px auto 0;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-content: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--secondary-bg-color);
  background-color: var(--accent-color);
  border-radius: 4px;

  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}

.btn-servise:hover,
.btn-servise:focus {
  background-color: var(--btn-service-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ----------advantages---------- */

.advantages {
  padding-top: 94px;
}

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-list .item {
  width: calc((100% - 3 * 30px) / 4);
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-color-icon-box);
  border-radius: 4px;
}

.icon-box .icon {
  width: 70px;
  height: 70px;
}

/* .advantages-list .item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/advantages-astronaut.svg);
  background-size: 70 px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bg-color-btn-filter);
} */

.advantages-list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages p {
  line-height: 1.71;
  color: var(--secondary-color);
}

/* ----------work---------- */

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-title {
  margin: 0 auto 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-list .item {
  position: relative;
  width: calc((100% - 2 * 30px) / 3);
}

.work-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-bg-color);
  background: rgba(47, 48, 58, 0.8);
}

/* ----------team---------- */

.team {
  padding: 94px 0;
  background-color: var(--bg-color-btn-filter);
}

.team-title {
  margin: 0 auto 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list-item {
  width: calc((100% - 3 * 30px) / 4);
  background-color: var(--secondary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding: 30px 0;
}

.team-list-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
}

.social-link {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon);

  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
}

.icon-social {
  fill: currentColor;
}

.social-link .link:hover,
.social-link .link:focus {
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}

/* ----------clients---------- */

.clients {
  padding: 94px 0;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon);

  transition: color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
}

.clients-list .link:hover,
.clients-list .link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.icon-company {
  fill: currentColor;
}

/* ----------filter---------- */

.filter {
  padding: 94px 0;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item {
  margin-right: 8px;
}

.filter-list .item:last-child {
  margin-right: 0;
}

.btn-filter {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--brand-color);
  background-color: var(--bg-color-btn-filter);
  border-radius: 4px;
  border: none;

  transition: box-shadow var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.btn-filter:hover,
.btn-filter:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}

/* ----------cads---------- */

.cads-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cads-list .item {
  width: calc((100% - 2 * 30px) / 3);
}

.cads-list-link {
  display: block;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.cads-list-link:hover,
.cads-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cads-content {
  padding: 20px 24px;
  border: var(--border-cads);
}
.cads-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
}

.cads-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* ----------overley for cads---------- */

.cads-thumb {
  position: relative;
  overflow: hidden;
}

.overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.overley-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-bg-color);
}

.cads-list-link:hover .overley,
.cads-list-link:focus .overley {
  transform: translatey(0);
}

/* ----------footer---------- */

.footer {
  background-color: var(--brand-bg-color);
  padding: 60px 0;
}

.footer-page {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-bg-color);
}

.footer-logo > span {
  color: var(--accent-color);
}

.footer-contact {
  line-height: 1.71;
  font-style: normal;
}

.footer-contact .item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contact-link {
  line-height: 1.71;
  color: var(--secondary-bg-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer-contact-item {
  line-height: 1.71;
  color: var(--footer-contact-item);

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.join {
  margin-left: 70px;
}

.join-text,
.subscribe-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-bg-color);
}

.join .link {
  color: var(--secondary-bg-color);
  background: rgba(255, 255, 255, 0.1);
}

.join .icon-social {
  fill: currentColor;
}

.join .link:hover,
.join .link:focus {
  background-color: var(--accent-color);
}

.subscribe {
  margin-left: auto;
}

.subscribe-wrapper {
  display: flex;
  gap: 12px;
}

.input-subscribe {
  min-width: 358px;
  padding: 16px 12px;
  background-color: inherit;
  color: var(--footer-contact-item);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
/* .input-subscribe:not(:placeholder-shown) {
border: 1px solid var(--accent-color);
} */

.btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--secondary-bg-color);
  background-color: var(--accent-color);

  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: var(--btn-service-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ----------backdrop---------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* ----------modal---------- */

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  padding: 40px;

  background: var(--secondary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-close {
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.btn-close:hover .icon-close,
.btn-close:focus .icon-close {
  fill: var(--accent-color);
}

/* ----------form---------- */

.form-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.form-field {
  margin-bottom: 10px;
}

.input-wrapper:focus-within > .form-input {
  border: 1px solid var(--accent-color);
}

.input-wrapper:focus-within > .form-icon {
  fill: var(--accent-color);
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.form-input.comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.label-checkbox {
  position: relative;
  display: flex;
  gap: 7px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 12px;
  line-height: 1.71;
  color: var(--secondary-color);
}

.label-checkbox > a {
  color: var(--accent-color);
}

.input-checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */

  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.form-icon-check {
  border: 2px solid var(--brand-color);
  border-radius: 2px;
  background-color: transparent;
  transition: background-color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
}

.input-checkbox:checked ~ .form-icon-check {
  background-color: var(--accent-color);
  border-color: transparent;
}

.input-checkbox:focus ~ .form-icon-check {
  border-color: var(--accent-color);
}

.btn-send {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--secondary-bg-color);
  background-color: var(--accent-color);

  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}

.btn-send:hover,
.btn-send:focus {
  background-color: var(--btn-service-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ----------effects---------- */

.nav-link-item:hover,
.nav-link-item:focus,
.contact-item:hover,
.contact-item:focus,
.footer-contact-link:hover,
.footer-contact-link:focus,
.footer-contact-item:hover,
.footer-contact-item:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
