.clients {
    padding: 94px 0;
  }
  
  .clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .clients-list {
    display: flex;
    gap: 30px;
  }
  
  .clients-list .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: var(--icon);
  
    transition: color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
  }
  
  .clients-list .link:hover,
  .clients-list .link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
  
  .icon-company {
    fill: currentColor;
  }
  